
<h1>Página Inicial</h1>
<div class="container">
    <!-- linha-->
    <div class="row">
        
   
      <!-- coluna-->
      <div class="col-sm">
            <h4> Início </h4>
            </div>
    <div class="col-sm">
        <h4> Produtos </h4>
    </div>
        <div class="col-sm">
            <h4>Quem Somos  </h4>
        </div>
            <div class="col-sm">
                <h4>Fale Conosco </h4>
             </div>

 <!-- fim da div da linha-->
</div>


</div>
<button mat-button (click)="openDialog()">Abrir Popup</button>

